PngImage_1 RCDATA "..\\..\\..\\Resources\\0.png"
PngImage_2 RCDATA "..\\..\\..\\Resources\\1.png"
PngImage_3 RCDATA "..\\..\\..\\Resources\\2.png"
PngImage_4 RCDATA "..\\..\\..\\Resources\\3.png"
PngImage_5 RCDATA "..\\..\\..\\Resources\\4.png"
PngImage_6 RCDATA "..\\..\\..\\Resources\\5.png"
PngImage_7 RCDATA "..\\..\\..\\Resources\\6.png"
PngImage_8 RCDATA "..\\..\\..\\Resources\\7.png"
PngImage_9 RCDATA "..\\..\\..\\Resources\\8.png"
PngImage_10 RCDATA "..\\..\\..\\Resources\\block.png"
PngImage_11 RCDATA "..\\..\\..\\Resources\\flag.png"
PngImage_12 RCDATA "..\\..\\..\\Resources\\mine.png"
