0 RCDATA "..\\..\\..\\Resources\\0.png"
1 RCDATA "..\\..\\..\\Resources\\1.png"
2 RCDATA "..\\..\\..\\Resources\\2.png"
3 RCDATA "..\\..\\..\\Resources\\3.png"
4 RCDATA "..\\..\\..\\Resources\\4.png"
5 RCDATA "..\\..\\..\\Resources\\5.png"
6 RCDATA "..\\..\\..\\Resources\\6.png"
7 RCDATA "..\\..\\..\\Resources\\7.png"
8 RCDATA "..\\..\\..\\Resources\\8.png"
block RCDATA "..\\..\\..\\Resources\\block.png"
flag RCDATA "..\\..\\..\\Resources\\flag.png"
mine RCDATA "..\\..\\..\\Resources\\mine.png"
